**/*.wiki
personal_access_token
websocket.yml
build
server/lib
server/package.json
server/LICENSE
server/README.md
.vscode/
.github/
.git/
assets/
**/test/
*/src/
**/.schema.json
**/tsconfig.json
*.sh
.eslintcache*
.gitignore
.mocharc.json
node_modules/vscode-*/lib/esm/
node_modules/jsonc-parser/lib/esm/
